@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: #E4E9F7;
}

/* ===== Sidebar =====*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #FFF;
    cursor: default;
    transition: 0.5s;
}

.sidebar.close{
    width: 88px;
}

/* ===== Resuable ===== */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    transition: 0.3s;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header{
    position: relative;
}

.sidebar .imagetext img{
    width: 50px;
    border-radius: 6px;
    /* Drag - All */
    -webkit-user-drag: none;
    /* Selest - Google */
    user-select: none;
    /* Selest - FireFox */
    -moz-user-select: none;
    /* Selest - IE Edge */
    -ms-user-select: none;
}

.sidebar header .imagetext{
    display: flex;
    align-items: center;
}

header .imagetext .headertext{
    display: flex;
    flex-direction: column;
    /* Drag - All */
    -webkit-user-drag: none;
    /* Selest - Google */
    user-select: none;
    /* Selest - FireFox */
    -moz-user-select: none;
    /* Selest - IE Edge */
    -ms-user-select: none;
}

.headertext .title{
    font-size: 19px;
    font-weight: 600;
}

.headertext .tool{
    margin-top: -2px;
}

.sidebar header .toggle{
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #FFF;
    background: #38B6FF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%)
}

.sidebar .menubar{
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Selest - Google */
    user-select: none;
    /* Selest - FireFox */
    -moz-user-select: none;
    /* Selest - IE Edge */
    -ms-user-select: none;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 21px;
}

.sidebar li .icon,
.sidebar li .text{
    color: #707070;
    transition: 0.2s;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.4s;
    /* Drag - All */
    -webkit-user-drag: none;
}

.sidebar li a:hover{
    background: #38B6FF;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: #FFF;
}

#nowpage li{
    border-radius: 6px;
}

#nowpage a{
    cursor: default;
}

#nowpage li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
    color: #38B6FF;
}

#nowpage li .text{
    color: #38B6FF;
}

#nowpage li a:hover{
    background: none;
}

.sidebar .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .copyright a{
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    color: #38B6FF;
    /* Drag - All */
    -webkit-user-drag: none;
}
